absl-py==2.1.0
aiohttp==3.8.6
aiosignal==1.3.1
altair==5.0.1
annotated-types==0.5.0
anyio==3.7.1
appdirs==1.4.4
async-timeout==4.0.3
asynctest==0.13.0
attrs==23.2.0
autocommand==2.2.2
backcall==0.2.0
backports.zoneinfo==0.2.1
blinker==1.6.3
Bottleneck @ file:///opt/conda/conda-bld/bottleneck_1657175564434/work
cachetools==5.3.3
certifi @ file:///croot/certifi_1671487769961/work/certifi
charset-normalizer==3.3.2
cheroot==10.0.1
CherryPy==18.10.0
click==8.1.7
cobra==0.28.0
cobra-io==0.0.4
colour==0.1.5
cycler==0.11.0
datasets==2.13.2
decorator==5.1.1
depinfo==2.2.0
dill==0.3.6
diskcache==5.6.3
docker-pycreds==0.4.0
exceptiongroup==1.2.1
faerun==0.4.7
filelock==3.12.2
Flask==2.2.5
fonttools==4.38.0
frozenlist==1.3.3
fsspec==2023.1.0
future==1.0.0
gitdb==4.0.11
GitPython==3.1.43
google-auth==2.29.0
google-auth-oauthlib==0.4.6
grpcio==1.62.2
h11==0.14.0
httpcore==0.17.3
httpx==0.24.1
huggingface-hub==0.16.4
idna==3.7
importlib-metadata==6.7.0
importlib-resources==5.12.0
inflect==6.0.5
ipython==7.34.0
itsdangerous==2.1.2
jaraco.collections==4.2.0
jaraco.context==4.3.0
jaraco.functools==3.7.0
jaraco.text==3.11.1
jedi==0.19.1
Jinja2==3.1.4
joblib==1.3.2
jsonschema==4.17.3
kiwisolver==1.4.5
Markdown==3.4.4
markdown-it-py==2.2.0
MarkupSafe==2.1.5
matplotlib==3.5.3
matplotlib-inline==0.1.6
mdurl==0.1.2
mhfp==1.9.6
mkl-fft==1.3.1
mkl-random @ file:///tmp/build/80754af9/mkl_random_1626179032232/work
mkl-service==2.4.0
more-itertools==9.1.0
mpmath==1.3.0
multidict==6.0.5
multiprocess==0.70.14
networkx==2.6.3
numexpr @ file:///croot/numexpr_1668713893690/work
numpy @ file:///opt/conda/conda-bld/numpy_and_numpy_base_1653915516269/work
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
oauthlib==3.2.2
optlang==1.6.1
packaging @ file:///croot/packaging_1671697413597/work
pandas==1.3.5
parso==0.8.4
pexpect==4.9.0
pickleshare==0.7.5
Pillow==9.4.0
pkgutil_resolve_name==1.3.10
platformdirs==4.0.0
portend==3.1.0
prompt-toolkit==3.0.43
protobuf==3.20.3
psutil==5.9.8
ptyprocess==0.7.0
PubChemPy==1.0.4
pyarrow==12.0.1
pyasn1==0.5.1
pyasn1-modules==0.3.0
pydantic==1.10.17
pydantic_core==2.14.6
pydeck==0.8.1b1
Pygments==2.17.2
Pympler==1.0.1
pyparsing==3.1.2
pyrate-limiter==2.10.0
pyrsistent==0.19.3
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
python-libsbml==5.20.2
pytz @ file:///croot/pytz_1671697431263/work
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0.1
regex==2024.4.16
requests==2.31.0
requests-oauthlib==2.0.0
requests-ratelimiter==0.6.0
rich==13.7.1
rsa==4.9
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
rxn-biocatalysis-tools==1.0.1
safetensors==0.4.3
scikit-learn==1.0.2
scipy==1.7.3
sentencepiece==0.2.0
sentry-sdk==2.1.1
seqeval==1.2.2
setproctitle==1.3.3
simpletransformers==0.63.11
six @ file:///tmp/build/80754af9/six_1644875935023/work
smmap==5.0.1
sniffio==1.3.1
streamlit==1.23.1
swiglpk==5.0.10
sympy==1.10.1
tempora==5.3.0
tenacity==8.2.3
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
threadpoolctl==3.1.0
tmap==1.0.6
tokenizers==0.13.3
toml==0.10.2
toolz==0.12.1
torch==1.13.1
tornado==6.2
tqdm==4.66.4
traitlets==5.9.0
transformers==4.30.2
typing_extensions==4.7.1
tzdata==2024.1
tzlocal==4.3.1
ujson==5.7.0
urllib3==2.0.7
validators==0.20.0
wandb==0.17.0
watchdog==3.0.0
wcwidth==0.2.13
Werkzeug==2.2.3
XlsxWriter==3.2.0
xxhash==3.4.1
yarl==1.9.4
zc.lockfile==3.0.post1
zipp==3.15.0
